* {
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-family: sans-serif;
  background-color: #f6f7f7;
}

.container {
  display: flex;
}

/* filter menu start */
.container>.filter_menu {
  width: 25%;
  background-color: #fefeff;
  margin-top: 100px;
  margin-right: 30px;
  margin-left: 10px;
  padding: 20px;
  height: 800px;
}

.container>.filter_menu>div:nth-child(1) {
  width: 40%;
  font-size: 13px;
}

.container>.filter_menu>div:nth-child(1)>input {
  background-color: #fff;
  color: #212121;
  font-size: 16px;
  border: 1px solid #757575;
  border-radius: 5px;
  padding: 7px 10px;
  margin-right: 30px;
  margin-bottom: 25px;
  width: 200%;
}

.container>.filter_menu>div:nth-child(2) {
  height: auto;
  width: 150px;
}

.container>.filter_menu>div:nth-child(2)>div {
  display: flex;
  margin-top: -10px;
}

.container>.filter_menu>div:nth-child(2)>div>input {
  width: 12%;
}

.container>.filter_menu>div:nth-child(2)>div>p {
  font-size: 12px;
  margin-left: 5px;
}

/* filter menu end */


/* -----Product Cards-start------ */
#all_products {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 100px;
}

#all_products>div {
  background-color: #fefeff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0 20px ;
  max-height: 350px;
}

.img1 img {
  /* border: 1px solid red; */
  width: 65%;
  padding-left: 30px;
  margin-top: 40px;
  /* margin-bottom: 40px; */
}

.details {
  /* border: 1px solid blue; */ 
  height: 150px;
  margin-top: 30px;
}

div>.details>h4 {
  /* border: 1px solid red; */
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(33, 33, 33);
  text-align: left;
  text-indent: 0px;
  color: #212121;
}

div>.details>p {
  /* border: 1px solid red; */
  font-size: 12px;
  color: #757575;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(117, 117, 117);
  text-align: left;
  text-indent: 0px;
  line-height: 17.1429px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  margin-top: -13px;

}

div>.details>h3 {
  /* border: 1px solid red; */
  color: #212121;
  line-height: 22.8571px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(33, 33, 33);
  text-align: left;
  text-indent: 0px;
  margin-top: 50px;
}


/* Product Cards end */