* {

  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: black;
}

body {
  font-family: sans-serif;
  background-color: #f6f7f7;
}

/* Navbar start */
#navBar{
  
  display: flex;
  /* border: 2px solid blue; */
  justify-content: space-around;
  margin: 0%;
  padding: 0%;
  height: 70px;
}
#left_section{
  display: flex;
  height: 50%;
  /* border: 2px solid red; */
  width: 50%;
  justify-content: space-between;
  /* margin-top: 5px; */
  padding-top: 8px;
  /* font-size: 20px; */
}

#left_section>div h3{
  font-size: 14px;
  margin-top: 21px;
  font-weight: 500;
}
#left_section>div h3:hover{
  color: #ff6f61;
  cursor: pointer;
}
#right_section{
  display: flex;
  font-size: medium;
  height: 20%;
  /* border: 2px solid green; */
  margin-top: 27px;
  width: 23%;
  justify-content: space-around;
}

#right_section .right:nth-child(3){
/* border: 2px solid blue; */
/* margin-top: auto; */
margin-top: -6px;
}
#right_section .right:nth-child(1){
  font-size: 18px;
  margin-top: -2.5px;
}
.unicode{
  display: inline-block;
  font-size: 25px;
  margin-top: -5px;
  color: #ff6f61;
}

.image>img{
  /* border: 2px solid brown; */
  height: 80%;
  margin-top: 5px;
  width: 180px;
}

#second_navBar>#second{
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid green; */
  height: 50px;
}

#cities{
width: 250px;
padding: 0px;
margin: 5px;
}

#search{
  width: 500px;
  padding: 0px;
  margin: 5px;
}
.Quick_Order{
  /* border: 1px solid red; */
  margin-top: 12px;
}
/* Navbar end */
.container {
  display: flex;
}

/* filter menu start */
.container>.filter_menu {
  width: 16%;
  background-color: #fefeff;
  margin-top: 70px;
  margin-right: 30px;
  margin-left: 10px;
  padding: 20px;
  height: 800px;
}
.container>.filter_menu >select{
  /* border: 1px solid red; */
  background-color: #f8f6f685;
  color: black;
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  margin-top: 30px;
}

/* filter menu end */


/* -----Product Cards-start------ */
#all_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  width: 100%;
  margin: auto;
  gap: 20px;
  margin-top: 70px;
}

#all_products>div {
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 40px;
  border-radius: 6px;
  max-height: 300px;
}

.img1 img {
  height: 140px;
  width: 80%;
  margin-left: 20px;
}

.details {
  height: 155px;
  width: 135px;
  margin-top: 15px;
  text-align: center;
  margin: auto;
  
}

div>.details>h4 {
  /* border: 1px solid red; */
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(33, 33, 33);
  text-align: left;
  text-indent: 0px;
  color: #212121;
}

div>.details>p {
  /* border: 1px solid red; */
  font-size: 12px;
  color: #757575;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(117, 117, 117);
  text-align: left;
  text-indent: 0px;
  line-height: 17.1429px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  margin-top: -13px;

}

div>.details>h3 {
  /* border: 1px solid red; */
  color: #212121;
  line-height: 22.8571px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(33, 33, 33);
  text-align: left;
  text-indent: 0px;
}
div>.details>button{
  height: 20px;
  width: 70px;
  color: #ff6f61;
  margin-top: 10px;
  margin-left: -95px;
  /* margin-bottom: -100px; */
  font-size: 14px;
  border: none;
  font-weight: bold;
  background-color: #FEFEFF;
  cursor: pointer;
}


/* Product Cards end */

/* @media screen and (min-width:700px) and (max-width:1100px){
  #all_products>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
  }
} */